.flex-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.logos-container {
  margin-right: 20px;
}

.logo {
  width: 250px;
  height: auto;
}

.intro-text {
  font-size: 18px;
  line-height: 1.6;
  color: #333;
}

.intro-paragraph {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
