<h2 class="content-block">Электронная медицинская карта</h2>
<div class="content-block">
  <div class="dx-card responsive-paddings flex-container">
    <div class="logos-container">
      <img src="assets/logo.png" alt="Логотип" class="logo">
    </div>
    <div class="intro-text">
      <p class="intro-paragraph">
        Добро пожаловать в вашу электронную медицинскую карту! Здесь вы можете управлять своими медицинскими данными:
        создавать и просматривать анализы, а также поделиться ими с врачом по временной ссылке.
      </p>
      <p class="intro-paragraph">
        Для создания и управления анализами, перейдите на страницу <a routerLink="/analysis">Анализы</a>
      </p>
      <p class="intro-paragraph">
        Для создания и управления шаблонами, перейдите на страницу <a routerLink="/templates">Шаблоны</a>
      </p>
    </div>
  </div>
</div>
