<form class="create-account-form" (submit)="onSubmit($event)">
  <dx-form [formData]="formData" [disabled]="loading">

    <!--    TODO: add validation-->
    <dxi-item dataField="firstname" editorType="dxTextBox"
              [editorOptions]="{ stylingMode: 'filled', placeholder: 'Имя', mode: 'string' }">
      <dxi-validation-rule type="required" message="Это поле является обязательным"></dxi-validation-rule>
      <dxo-label [visible]="false"></dxo-label>
    </dxi-item>

    <dxi-item dataField="surname" editorType="dxTextBox"
              [editorOptions]="{ stylingMode: 'filled', placeholder: 'Фамилия', mode: 'string' }">
      <dxi-validation-rule type="required" message="Это поле является обязательным"></dxi-validation-rule>
      <dxo-label [visible]="false"></dxo-label>
    </dxi-item>

    <dxi-item dataField="patronymic" editorType="dxTextBox"
              [editorOptions]="{ stylingMode: 'filled', placeholder: 'Отчество', mode: 'string' }">
      <dxo-label [visible]="false"></dxo-label>
    </dxi-item>

    <dxi-item dataField="email" editorType="dxTextBox"
              [editorOptions]="{ stylingMode: 'filled', placeholder: 'Электронная почта', mode: 'email' }">
      <dxi-validation-rule type="required" message="Введите почту"></dxi-validation-rule>
      <dxi-validation-rule type="email" message="Некорректный адрес электронной почты"></dxi-validation-rule>
      <dxo-label [visible]="false"></dxo-label>
    </dxi-item>

    <dxi-item dataField="password" editorType="dxTextBox"
              [editorOptions]="{ stylingMode: 'filled', placeholder: 'Пароль', mode: 'password' }">
      <dxi-validation-rule type="required" message="Введите пароль"></dxi-validation-rule>
      <dxo-label [visible]="false"></dxo-label>
    </dxi-item>

    <dxi-item dataField="confirmedPassword" editorType="dxTextBox"
              [editorOptions]="{ stylingMode: 'filled', placeholder: 'Confirm Password', mode: 'password' }">
      <dxi-validation-rule type="required" message="Введите пароль ещё раз"></dxi-validation-rule>
      <dxi-validation-rule type="custom" message="Пароли не совпадают" [validationCallback]="confirmPassword">
      </dxi-validation-rule>
      <dxo-label [visible]="false"></dxo-label>
    </dxi-item>

    <dxi-item>
      <div class='policy-info'>
        Создавая аккаунт, вы принимаете <a routerLink="#">пользовательское соглашение</a> и <a routerLink="#">Политику
        конфидециальности</a>
      </div>
    </dxi-item>

    <dxi-item itemType="button">
      <dxo-button-options width="100%" type="default" [useSubmitBehavior]="true" [template]="'createAccountTemplate'">
      </dxo-button-options>
    </dxi-item>

    <dxi-item>
      <div class="login-link">
        Уже есть аккаунт? <a routerLink="/login">Авторизация</a>
      </div>
    </dxi-item>

    <ng-container *dxTemplate="let item of 'createAccountTemplate'">
      <div>
        <span class="dx-button-text">
          <ng-container *ngIf="loading; else notLoading">
            <dx-load-indicator width="24px" height="24px" [visible]="true"></dx-load-indicator>
          </ng-container>

          <ng-template #notLoading>Создать аккаунт</ng-template>
        </span>
      </div>
    </ng-container>

  </dx-form>
</form>
