<h2 class="content-block">Анализы</h2>

<dx-data-grid class="dx-card wide-card"
              id="suDataGrid"
              [dataSource]="dataSource"
              [showBorders]="false"
              [columnAutoWidth]="true"
              [columnHidingEnabled]="true"
              (onOptionChanged)="onGridOptionsChanged($event)"
              [masterDetail]="{ enabled: true, template: 'detail' }">

  <dxo-remote-operations [paging]="true" [sorting]="true" [filtering]="true"></dxo-remote-operations>

  <dxo-toolbar>

    <dxi-item location="before">
      <dx-button
        [icon]="'refresh'"
        [text]="'Обновить'"
        (onClick)="this.dataGrid.instance.refresh()"
        [stylingMode]="'text'">
      </dx-button>
    </dxi-item>

  </dxo-toolbar>

  <dxo-paging [pageSize]="5"></dxo-paging>
  <dxo-pager [showPageSizeSelector]="true"
             [showInfo]="true"
             [allowedPageSizes]="[5, 50, 100]"></dxo-pager>

  <dxo-editing
    [allowAdding]="false"
    [allowUpdating]="false"
    [allowDeleting]="false">
  </dxo-editing>

  <dxi-column
    dataField="name"
    caption="Название">
  </dxi-column>

  <dxi-column
    dataField="templateName"
    caption="Тип">
  </dxi-column>

  <dxi-column
    dataField="analysisDate"
    caption="Дата сдачи"
    dataType="date"
    format="dd.MM.yyyy">
  </dxi-column>

  <dxo-master-detail [enabled]="true" analysis="detail">
  </dxo-master-detail>
  [allowEditing]="true"
  <div *dxTemplate="let analysis of 'detail'">

    <dx-tab-panel>
      <dxi-item title="Изображения">
        <div class="master-detail-images">
          <div class="image-container" *ngFor="let fileName of analysis.data.images; let i = index">
            <div class="image-wrapper">
              <img class="image"
                   [src]="downloadUrl + '/analysis/' + analysis.data.id + '/image/' + fileName | secured | async"
                   (click)="openImagePopup(fileName)"/>
            </div>
            <dx-popup *ngIf="popupImageName === fileName" [(visible)]="isPopupVisible" width="60%" height="80%"
                      [showCloseButton]="true" (onHidden)="resetPopupData()">
              <div *dxTemplate="let data of 'content'" class="popup-content">
                <img class="popup-image"
                     [src]="downloadUrl + '/analysis/' + analysis.data.id + '/image/' + popupImageName | secured | async"/>
              </div>
            </dx-popup>
          </div>
        </div>
      </dxi-item>

      <dxi-item title="Параметры">
        <dx-data-grid
          [dataSource]="analysis.data.parameters"
          [showBorders]="false"
          [columnAutoWidth]="true"
          [columnHidingEnabled]="true"
          [editing]="{ allowUpdating: false, allowDeleting: false, allowAdding: false }">

          <dxo-toolbar [visible]="false"/>

          <dxi-column dataField="name" caption="Название" dataType="string"></dxi-column>
          <dxi-column dataField="value" caption="Значение" dataType="string"></dxi-column>
          <dxi-column dataField="unit" caption="Единица измерения" dataType="string"></dxi-column>
          <dxi-column dataField="state" caption="Состояние">
            <dxo-lookup
              [dataSource]="analysisParameterStateMapping"
              valueExpr="id"
              displayExpr="value">
            </dxo-lookup>
          </dxi-column>
        </dx-data-grid>
      </dxi-item>

      <dxi-item title="Комментарий">
        <div class="commentary-section">
          <dxo-texts [textContent]="analysis.data.commentary"/>
        </div>
      </dxi-item>
    </dx-tab-panel>
  </div>


</dx-data-grid>
