<h2 class="content-block">Анализы</h2>

<dx-popup
  [(visible)]="isPopupVisible"
  [showTitle]="true"
  title="Поделиться анализами"
  [width]="800"
  [height]="600">
  <div class="popup-content">
    <dx-list
      [items]="templatesList"
      selectionMode="multiple"
      [(selectedItems)]="selectedItems"
      displayExpr="name"
      valueExpr="id">
      <div *dxTemplate="let data of 'item'">
        <div [ngClass]="{'list-item': true, 'selected-item': isSelected(data)}">
          <span>{{ data.name }}</span>
        </div>
      </div>
    </dx-list>

    <dx-date-box
      type="date"
      placeholder="Выберите дату"
      displayFormat="dd/MM/yyyy"
      [(value)]="selectedDate"
      [openOnFieldClick]="true">
    </dx-date-box>
    <div *ngIf="sharedUrl" class="shared-url-container">
      <dx-text-box
        [value]="sharedUrl"
        [inputAttr]="{ 'aria-label': 'Name' }"
        [readOnly]="true"
        class="shared-url-input">
      </dx-text-box>
      <dx-button
        text="Копировать"
        icon="copy"
        (onClick)="copyToClipboard(sharedUrl)">
      </dx-button>
    </div>
    <div class="popup-actions">
      <dx-button text="Отмена" class="cancel-button" (onClick)="isPopupVisible = false"></dx-button>
      <dx-button text="Создать" class="create-button" (onClick)="createShareRequest()"></dx-button>
    </div>
  </div>
</dx-popup>

<dx-data-grid class="dx-card wide-card"
              id="suDataGrid"
              [dataSource]="dataSource"
              [showBorders]="false"
              [columnAutoWidth]="true"
              [columnHidingEnabled]="true"
              (onOptionChanged)="onGridOptionsChanged($event)"
              [masterDetail]="{ enabled: true, template: 'detail' }">

  <dxo-remote-operations [paging]="true" [sorting]="true" [filtering]="true"></dxo-remote-operations>

  <dxo-toolbar>
    <dxi-item name="groupPanel"></dxi-item>

    <dxi-item name="searchPanel" location="center"></dxi-item>

    <dxi-item location="before">
      <dx-button
        [icon]="'refresh'"
        [text]="'Обновить'"
        (onClick)="this.dataGrid.instance.refresh()"
        [stylingMode]="'text'">
      </dx-button>
    </dxi-item>

    <dxi-item location="after">
      <dx-button
        [icon]="'share'"
        [text]="'Поделиться анализами'"
        (onClick)="togglePopupVisibility()"
        [stylingMode]="'text'">
      </dx-button>
    </dxi-item>

    <dxi-item location="after">
      <dx-button
        [icon]="'plus'"
        [text]="'Добавить анализ'"
        (onClick)="dataGrid.instance.addRow()"
        [stylingMode]="'text'">
      </dx-button>
    </dxi-item>
  </dxo-toolbar>

  <dxo-search-panel
    [visible]="true"
    [width]="240"
    placeholder="Поиск...">
  </dxo-search-panel>

  <!--  <dxo-filter-row [visible]="true"></dxo-filter-row>-->

  <dxo-paging [pageSize]="5"></dxo-paging>
  <dxo-pager [showPageSizeSelector]="true"
             [showInfo]="true"
             [allowedPageSizes]="[5, 50, 100]"></dxo-pager>

  <dxo-editing
    [allowAdding]="true"
    [allowUpdating]="true"
    [allowDeleting]="true">
  </dxo-editing>

  <dxi-column
    dataField="id" [visible]="false" sortOrder="desc">
  </dxi-column>

  <dxi-column
    dataField="name"
    caption="Название">
    <dxi-validation-rule
      type="required"
      message="Обязательное поле">
    </dxi-validation-rule>
    <dxi-validation-rule
      type="stringLength"
      [max]="100"
      message="Не более 100 символов">
    </dxi-validation-rule>
  </dxi-column>

  <dxi-column
    dataField="templateName"
    caption="Тип"
    [lookup]="{ dataSource: templatesList, displayExpr: 'name', valueExpr: 'name' }"
    [allowEditing]="true">
    <dxi-validation-rule
      type="required"
      message="Обязательное поле">
    </dxi-validation-rule>
    <dxi-validation-rule
      type="stringLength"
      [max]="100"
      message="Не более 100 символов">
    </dxi-validation-rule>
  </dxi-column>

  <dxi-column
    dataField="analysisDate"
    caption="Дата сдачи"
    dataType="date"
    format="dd.MM.yyyy"
    [allowSearch]="true">
    <dxi-validation-rule
      type="required"
      message="Обязательное поле">
    </dxi-validation-rule>
  </dxi-column>

  <dxo-master-detail [enabled]="true" analysis="detail">
  </dxo-master-detail>
  [allowEditing]="true"
  <div *dxTemplate="let analysis of 'detail'">
    <app-analysis-detail
      [analysis]="analysis.data"
      [downloadUrl]="downloadUrl"
      (analysisUpdated)="updateAnalysis($event)">
    </app-analysis-detail>
  </div>
</dx-data-grid>
