.dx-popup-content {
  width: auto;
  max-width: 100%;
  padding: 20px;
}

.dx-list {
  max-height: 150px;
  overflow-y: auto;
}

.dx-date-box {
  margin-top: 20px;
}

.popup-actions {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.create-button {
  margin-left: auto;
}

.cancel-button {
  margin-right: auto;
}

.shared-url-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.shared-url-input {
  flex-grow: 1;
}

.list-item {
  border: 2px solid #ccc;
  padding: 5px;
  display: flex;
  align-items: center;
  border-radius: 4px;
}

.selected-item {
  border-color: orangered;
}
